extends layout

block content
  h1= title
  p Here you can ask your question
  form(method='post', action='/questions/publish')
    div
      label(for='title') Title:
      input(type='text', name='title', id='title')
    div
      label(for='description') Description:
      textarea(name='description', id='description')
    div
      input(type='submit', value='Publish')